a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
}
header {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f5f5f5;
}
.logo {
    height: 54px;
    width: 54px;
    margin-left: 10px;
    margin-top: 6px;
    background-color: transparent;
    border-radius: 20px;
}
header .name {
    margin-left: 37px;
    background-color: transparent;
    color: var(--primary-color);
}
header .name h2 {
    margin-top: 16px;
    margin-left: 29px;
    background-color: transparent;
    letter-spacing: 1px;
    font-weight: bolder;
    font-stretch: expanded;
    color: var(--overlay-color);
    font-size: 1.6rem;
}
header .name h5 {
    margin-top: -3px;
    background-color: transparent;
}
header input {
    width: 100px;
    margin-top: 24px;
    margin-right: 3px;
    padding: 4px;
    background-color: transparent;
    border-radius: 50px;
    border-color: var(--overlay-color);
    color: var(--primary-color);
    font-weight: 700;
}
header input::placeholder {
    color: var(--primary-color);
    letter-spacing: 1px;
}
header a {
    text-decoration: none;
}
header a:active {
    color: var(--overlay-color);
    background-color: transparent;
}
header a:visited {
    color: var(--overlay-color);
}
header .add-news-menu {
    display: none;
    border: none;
    background-color: transparent;
    color: transparent;
}
.container {
    position: relative;
    background-color: var(--overlay-color);
    width: 100%;
    height: 70px;
}
.container .big-scre {
    display: none;
}
.menu-wrap {
    position: fixed;
    top: 74px;
    right: 50px;
    z-index: 2;
}
.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 1rem;
    border-radius: 20px;
    background: rgba(32, 181, 226, 0.884);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 17px;
    height: 2.2px;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.menu-wrap .hamburger > div::after,
.menu-wrap .hamburger > div::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.menu-wrap .hamburger > div::after {
    top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:after,
.menu-wrap .toggler:checked + .hamburger > div:before {
    top: 0;
    transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div {
    background: var(--overlay-color);
    padding-bottom: 80px;
    border-radius: 50%;
    width: 180vw;
    height: 180vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: rgba(8, 182, 235, 0.897);
    font-size: 1.5rem;
    padding: 12px;
}
.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}
#slider {
    display: flex;
    flex-direction: column;
    border: 2px solid #294155;
    border-left: 0;
    border-right: 0;
    margin: 49px auto auto 0;
    justify-content: center;
    align-items: center;
    height: 274.3px;
    position: relative;
    background-color: rgba(233, 230, 230, 0.459);
}
#slider img {
    position: absolute;
    top: 16px;
    height: 130px;
    width: 160px;
    box-shadow: 3.5px 4px 22px var(--primary-color);
    border-radius: 2px;
}
#slider h3 {
    display: flex;
    margin-top: 120px;
    margin-bottom: 2px;
    color: var(--overlay-color);
}
#slider p {
    font-size: 13px;
    color: rgba(12, 98, 124, 0.75);
    font-weight: 700;
}
.slider-a {
    text-decoration: none;
}
.slider-a:hover {
    color: pink;
}
.slider-a:active {
    color: #000;
}
.slider-a:visited {
    color: #000;
}
.swiper .swiper-button-prev {
    color: var(--overlay-color);
}
.swiper .swiper-button-next {
    color: var(--overlay-color);
}
.swiper .swiper-pagination-bullet-active {
    background: var(--primary-color);
}
.news-box {
    margin: 20px auto 10px auto;
    width: 100%;
    height: 485px;
    border: 2px solid #294155;
    border-left: 0;
    border-right: 0;
    text-align: center;
}
.news-box .title {
    width: 100%;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 0;
    border-bottom: 2px solid #294155;
    margin-bottom: 10px;
    color: var(--overlay-color);
}
.news-box .news-img {
    width: 25%;
    height: 60px;
    margin-left: 5px;
}
.news-box .news-img img {
    width: 100%;
    height: 100%;
    box-shadow: 3.5px 4px 7px var(--primary-color);
    border-radius: 2px;
}
.news-box .gen {
    position: relative;
    margin-bottom: 56px;
}
.news-box .news-txt-short {
    position: absolute;
    right: 4px;
    top: 0.7px;
    width: 70%;
    height: 60px;
}
.news-box .news-txt-short h4 {
    width: 100%;
    height: 100%;
    color: rgba(12, 98, 124, 0.75);
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgba(12, 98, 124, 0.75);
    margin-bottom: 3px;
}
footer img {
    width: 100px;
    height: 100px;
}
footer .contact-info {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer .contact-info h4 {
    padding-bottom: 3px;
    color: var(--overlay-color);
    margin-right: 6px;
}
footer .contact-info h5 {
    padding-bottom: 7px;
}
footer .differ img {
    position: static;
    padding-top: 3px;
    width: 25px;
    height: 25px;
}
footer .differ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    order: 1;
    margin: auto;
}
footer .differ h4 {
    padding-top: 5px;
    margin-bottom: 5px;
    color: var(--overlay-color);
}
footer .differ .accounts {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border: none;
    position: static;
}
footer .differ .accounts h5 {
    padding-top: 7px;
    margin-left: 6px;
    position: static;
}
.hid-ftt-div {
    order: 4;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 200px;
    padding-left: 25px;
    align-items: center;
    margin-right: 20px;
}
footer .name-fott {
    color: var(--overlay-color);
    padding-right: 5px;
}
footer .name-fott h2 {
    margin-bottom: 1px;
    font-size: 2.2rem;
    padding-left: 21px;
    color: var(--overlay-color);
}
footer .name-fott h5 {
    flex-grow: 1;
    font-size: 17px;
    color: var(--primary-color);
}
.copy-cont {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin-top: 14px;
    margin-left: 1px;
}
.copy-cont .copy {
    width: 15px;
    background: var(--primary-color);
    border-radius: 20px;
    color: var(--overlay-color);
}
.copy-cont div {
    flex-grow: 1;
    color: var(--overlay-color);
}
.cat-name-list {
    width: 100%;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 0;
    border: 2px solid var(--overlay-color);
    border-left: 0;
    border-right: 0;
    margin-top: 10px;
    color: var(--overlay-color);
    text-align: center;
}
.news-list-container {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    background: 0 0;
}
.news-listing {
    position: relative;
    margin: auto;
    margin-top: 32px;
    width: 73%;
    height: 100%;
    background-color: transparent;
    box-shadow: 3.5px 5px 10px var(--primary-color);
    border-radius: 3px;
    border: 1px solid var(--overlay-color);
    margin-bottom: 30px;
}
.news-listing img {
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.text-container {
    text-align: left;
    position: absolute;
    bottom: 0;
    background: rgba(245, 245, 245, 0.877);
    border: 0.5px solid var(--primary-color);
    border-radius: 2px;
    border-top: none;
}
.text-container:hover {
    background: rgba(245, 245, 245, 0.979);
}
.text-container h1 {
    padding-top: 0.5px;
    padding-left: 0.5px;
    color: var(--overlay-color);
    font-weight: 550;
}
.text-container p {
    padding-top: 0.75px;
    padding-left: 2.5px;
    width: 89%;
    font-size: 13px;
    font-weight: 700;
    color: var(--primary-color);
}
.fot-top {
    margin-top: 12px;
    border-top: 2.5px solid var(--overlay-color);
}
.bfr-news {
    margin: 28px 0 0 5px;
}
.bfr-news h6 {
    font-size: 13px;
    opacity: 0.75;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.bfr-news h1 {
    opacity: 12;
    color: var(--overlay-color);
    font-weight: 800;
}
.full-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: auto;
    margin-top: 27px;
}
.full-news div {
    margin: auto;
    width: 280px;
    height: 170px;
    text-align: center;
    margin-bottom: 25px;
    box-shadow: 3.5px 5px 7px var(--primary-color);
    border-radius: 3px;
    border: 1px solid var(--overlay-color);
}
.full-news div img {
    width: 100%;
    height: 100%;
}
.full-news div p {
    margin-top: 7px;
    text-align: left;
    font-size: 10px;
    opacity: 0.85;
    color: var(--primary-color);
}
.full-news .full-news-txt {
    padding-right: 3px;
    margin: auto;
    padding-left: 3px;
    text-align: center;
    font-weight: 700;
    word-spacing: 1px;
    color: var(--overlay-color);
}
.verif-nt {
    margin: auto;
    margin-top: 0;
    border: 2px solid var(--overlay-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
}
.verif-nt h2 {
    font-size: 1.2rem;
    margin-top: 6px;
    padding-top: 9px;
    margin-bottom: 20px;
    color: var(--overlay-color);
    font-weight: 700;
}
.verif-nt p {
    font-size: 17px;
    margin-bottom: 6px;
    color: var(--primary-color);
    font-weight: 700;
    padding-left: 4px;
    padding-right: 4px;
}
.secret-questions {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.secret-questions .lbl {
    font-size: 1.4rem;
    margin-top: 20px;
    font-weight: 700;
    color: var(--overlay-color);
    margin-bottom: -4px;
}
.secret-questions .ques {
    font-size: 1.05rem;
    width: 186px;
    height: 70px;
    padding-left: 3px;
    background-color: #f5f5f5;
    border: 2px solid var(--overlay-color);
    border-radius: 3px;
    color: var(--primary-color);
    font-weight: 700;
}
.secret-questions .ques::placeholder {
    color: var(--primary-color);
}
button {
    margin-top: 26px;
    width: 102px;
    height: 42px;
    font-size: 1.1rem;
    font-weight: 700;
    color: rgba(39, 160, 197, 0.87);
    background: var(--overlay-color);
    padding-top: 2px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.special-header {
    display: block;
    text-align: center;
    padding-right: 7px;
    border-bottom: 3px solid var(--overlay-color);
    height: 160px;
}
.special-header .logo {
    width: 80px;
    height: 80px;
}
.special-header a {
    text-decoration: none;
}
.special-header a:active {
    color: var(--overlay-color);
    background-color: transparent;
}
.special-header a:visited {
    color: var(--overlay-color);
}
.special-header .name {
    text-align: center;
    margin-right: 10px;
}
.special-header .name h2 {
    font-size: 1.9rem;
    margin: auto;
    margin-right: 15px;
}
.special-header .name h5 {
    margin: auto;
    margin-right: 20px;
    font-size: 1.2rem;
}
.special-h1 {
    margin-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 1.6rem;
    border-bottom: 3px solid var(--overlay-color);
    color: var(--primary-color);
}
.special-sugg {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.special-sugg .sugg {
    background-color: rgba(24, 39, 51, 0.85);
    height: 35px;
    color: rgba(53, 165, 199, 0.89);
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 25px;
    padding-top: 8px;
    padding-left: 10px;
    border-radius: 2px;
}
.special-sugg .sugg:hover {
    background-color: var(--overlay-color);
    color: var(--primary-color);
}
#cat-select {
    margin-top: 15px;
    margin-bottom: 40px;
}
#headline-insert {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 280px;
}
.hidden-up {
    display: none;
}
label[for="img-upload"] {
    padding-left: 25px;
    margin-top: 26px;
    height: 30px;
    width: 160px;
    font-size: 1.1rem;
    font-weight: 700;
    color: rgba(53, 165, 199, 0.89);
    background: var(--overlay-color);
    padding-top: 5px;
    border-radius: 3px;
    margin-bottom: 30px;
    border: 2px solid var(--primary-color);
}
.cntr {
    position: relative;
}
#inserted-text {
    position: relative;
    padding-left: 3px;
    padding-top: 2px;
    margin-top: 12px;
    color: var(--primary-color);
    font-size: 1.1rem;
    word-spacing: 2px;
    border: 2px solid var(--overlay-color);
    background-color: #f5f5f5;
    margin-bottom: 60px;
    border-radius: 3px;
}
.h6-nto {
    position: absolute;
    bottom: 32px;
    width: 285px;
    font-size: 12px;
    color: var(--overlay-color);
}
.edit {
    padding-left: 20px;
}
#search-box {
    width: 220px;
    margin-top: 20px;
}
#confirmation {
    margin-top: 12px;
    width: 220px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
}
a:active {
    color: var(--overlay-color);
}
a:visited {
    color: var(--overlay-color);
}
.should-hid {
    display: none;
}
.special-beside-big {
    display: none;
}
.fasel {
    display: none;
}
.hid-mob {
    display: none;
}
#idel-insert {
    margin-top: 9px;
    width: 220px;
}
@media (min-width: 768px) {
    #idel-insert {
        width: 30%;
    }
    .fot-top {
        border: 0;
    }
    header {
        padding-left: 2px;
        padding-right: 10px;
        justify-content: space-between;
    }
    header .name {
        margin-left: 110px;
    }
    header .logo {
        margin-left: 10px;
    }
    header .continr {
        position: relative;
    }
    header input {
        border: 2px solid var(--overlay-color);
        width: 160px;
        color: rgba(11, 161, 206, 0.87);
    }
    header input:focus {
        outline: 0;
        border-color: var(--overlay-color);
    }
    header input::placeholder {
        color: rgba(11, 161, 206, 0.87);
    }
    header .add-news-menu {
        position: absolute;
        padding-right: 10px;
        left: -100px;
        bottom: -30px;
        display: block;
        height: 40px;
        border-right: 2px solid var(--overlay-color);
        margin-bottom: 30px;
        padding-top: 10px;
        margin-left: 3px;
        color: var(--overlay-color);
    }
    header .add-news-menu:hover {
        color: rgba(11, 161, 206, 0.87);
    }
    .container .menu-wrap {
        display: none;
    }
    .container {
        display: block;
        position: static;
        background-color: var(--overlay-color);
        width: 100%;
        height: 70px;
    }
    .container .big-scre {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        font-weight: 700;
        color: #fff;
    }
    .container .big-scre li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
        margin: auto;
        height: 100%;
        flex-grow: 1;
    }
    .container .big-scre li a {
        padding-top: 25px;
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
        color: rgba(11, 161, 206, 0.87);
    }
    .container .big-scre li a:hover {
        width: 100%;
        height: 100%;
        color: var(--overlay-color);
    }
    .container .big-scre li:hover {
        color: var(--overlay-color);
        background-color: rgba(11, 161, 206, 0.87);
        cursor: pointer;
    }
    #slider {
        display: flex;
        flex-direction: column;
        border: 2px solid #294155;
        border-left: 0;
        border-right: 0;
        margin: 20px auto 0 auto;
        justify-content: center;
        align-items: center;
        height: 300.3px;
        width: 75%;
        border: none;
        border-radius: 3px;
        background-color: rgba(9, 86, 110, 0.034);
    }
    #slider:hover {
        background-color: rgba(8, 182, 235, 0.096);
    }
    #slider img {
        margin-top: -10px;
        height: 150px;
        width: 190px;
        box-shadow: 3.5px 4px 22px var(--primary-color);
        border-radius: 2px;
    }
    #slider h3 {
        margin-top: 140px;
        font-size: 1.7rem;
        height: 50px;
        color: var(--overlay-color);
        font-weight: 700;
    }
    #slider p {
        margin-top: -10px;
        margin-left: 7.5px;
        font-size: 13px;
        color: rgba(12, 98, 124, 0.75);
        font-weight: 700;
    }
    .slider-a {
        text-decoration: none;
    }
    .slider-a:hover {
        color: pink;
    }
    .slider-a:active {
        color: #000;
    }
    .slider-a:visited {
        color: #000;
    }
    .swiper {
        position: relative;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .swpr-war {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 75%;
        top: 140px;
    }
    .swiper .swiper-button-prev {
        position: static;
        border: 1px solid rgba(12, 98, 124, 0.75);
        width: 80px;
        height: 80px;
        border-radius: 50px;
        background-color: var(--overlay-color);
        padding-right: 6px;
        color: rgba(12, 141, 180, 0.75);
    }
    .swiper .swiper-button-prev:hover {
        background-color: rgba(12, 141, 180, 0.75);
        color: var(--overlay-color);
    }
    .swiper .swiper-button-next {
        position: static;
        border: 1px solid rgba(12, 98, 124, 0.75);
        width: 80px;
        height: 80px;
        border-radius: 50px;
        padding-left: 6px;
        background-color: var(--overlay-color);
        color: rgba(12, 141, 180, 0.75);
    }
    .swiper .swiper-button-next:hover {
        background-color: rgba(12, 141, 180, 0.75);
        color: var(--overlay-color);
    }
    .swiper .swiper-pagination-bullet-active {
        background: rgba(12, 98, 124, 0.75);
    }
    .news-box {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 80px auto 10px auto;
        width: 100%;
        height: 220px;
        border: 2px solid #294155;
        border-left: 0;
        border-right: 0;
    }
    .should-show {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-top: 15px;
        flex-grow: 0;
    }
    .should-hid {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        margin-top: -60px;
    }
    .news-box .title {
        position: absolute;
        top: -48px;
        width: 20%;
        height: 48px;
        letter-spacing: 1px;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 10px 0;
        border: 2px solid var(--overlay-color);
        border-bottom: 0;
        border-left: 0;
        color: var(--overlay-color);
    }
    .news-box .news-img {
        flex-grow: 1;
    }
    .news-box .news-img img {
        box-shadow: 3.5px 4px 7px var(--primary-color);
        border-radius: 2px;
    }
    .gen {
        flex-grow: 1;
    }
    .news-box .news-txt-short h4 {
        color: rgba(12, 98, 124, 0.75);
    }
    .should-hid-sec {
        display: none;
    }
    .special-beside-big {
        display: flex;
        margin: auto;
        margin-top: 100px;
        width: 80%;
    }
    .beside-each {
        display: flex;
        flex-direction: column;
        position: relative;
        border: 2px solid var(--overlay-color);
        width: 25%;
        height: 100%;
    }
    .group {
        display: flex;
        flex-direction: row;
        margin-top: 3.7px;
        margin-bottom: 30px;
    }
    .title-beside {
        color: var(--overlay-color);
        font-size: 1.2rem;
        border: 2px solid var(--overlay-color);
        font-weight: 700;
        position: absolute;
        top: -29px;
        left: -2px;
        text-align: center;
        padding-top: 5px;
        border-bottom: 0;
    }
    .img-beside {
        width: 92px;
        height: 52px;
    }
    .img-beside img {
        margin-top: 15px;
        margin-left: 5px;
        width: 100%;
        height: 100%;
        box-shadow: 3.5px 4px 7px var(--primary-color);
        border-radius: 2px;
    }
    .beside-short {
        width: 150px;
        font-size: 0.8rem;
        padding-top: 14px;
        margin-left: 14px;
        color: rgba(12, 98, 124, 0.75);
    }
    .no-bord-lft {
        border-left: none;
    }
    .fasel {
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 25px;
        border-top: 2px solid var(--overlay-color);
        margin-bottom: 1px;
    }
    footer {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: rgba(12, 98, 124, 0.75);
        padding-left: 10px;
        background-color: #f5f5f5;
    }
    .big-logo {
        order: -1;
        margin-left: 10px;
        margin-top: -100px;
    }
    footer .contact-info {
        order: 1;
        flex-grow: 1;
        margin-top: -105px;
        padding-left: 20px;
    }
    footer .contact-info h4 {
        padding-bottom: 0;
        color: var(--overlay-color);
        margin-right: 0;
    }
    footer .contact-info h5 {
        padding-bottom: 0;
    }
    footer .differ img {
        position: static;
        padding-top: 3px;
    }
    footer .differ {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        order: 3;
        margin-left: 40px;
        width: 240px;
    }
    footer .differ h4 {
        padding-top: 10px;
        margin-bottom: 5px;
        color: var(--overlay-color);
    }
    footer .differ .accounts {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 15px;
        border: none;
        position: static;
    }
    footer .differ .accounts h5 {
        padding-top: 5px;
        margin-left: 6px;
        position: static;
    }
    .hid-ftt-div {
        order: 2;
        margin-top: -90px;
        margin-right: 140px;
    }
    footer .name-fott {
        margin-top: 0;
        padding-bottom: 10px;
    }
    footer .name-fott h2 {
        margin-bottom: 0;
        font-size: 2.2rem;
        padding-left: 17px;
        color: var(--overlay-color);
    }
    footer .name-fott h5 {
        font-size: 17px;
        color: var(--primary-color);
        width: 140%;
    }
    .copy-cont {
        display: flex;
        width: 150px;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-between;
        text-align: center;
        margin-top: 0;
        margin-left: 0;
    }
    .copy-cont .copy {
        width: 15px;
        background: var(--primary-color);
        border-radius: 20px;
        color: var(--overlay-color);
    }
    .copy-cont div {
        flex-grow: 0;
        color: var(--overlay-color);
    }
    .cat-name-list {
        text-align: left;
        padding-left: 10px;
        border: none;
    }
    .news-list-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-top: 10px;
        background: 0 0;
        margin-bottom: 60px;
    }
    .col-cont {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
    .news-listing {
        position: relative;
        margin: auto;
        margin-top: 32px;
        width: 25%;
        height: 70%;
        background-color: transparent;
        box-shadow: 3.5px 5px 10px var(--primary-color);
        border-radius: 3px;
        border: 1px solid var(--overlay-color);
        margin-bottom: 30px;
    }
    .top-down {
        margin-top: 120px;
    }
    .news-listing img {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .news-listing img:hover + .text-container {
        display: block;
    }
    .text-container {
        display: none;
        text-align: left;
        position: absolute;
        bottom: 0;
        padding-left: 25px;
        height: 115px;
        background: rgba(245, 245, 245, 0.877);
        border: 0.5px solid var(--primary-color);
        border-radius: 2px;
        border-top: none;
    }
    .text-container:hover {
        background: var(--overlay-color);
    }
    .text-container h1 {
        padding-top: 3px;
        padding-left: 1px;
        color: var(--overlay-color);
        font-weight: 550;
    }
    .text-container p {
        padding-top: 0.75px;
        padding-left: 2.5px;
        width: 89%;
        font-size: 12px;
        font-weight: 700;
        color: var(--primary-color);
    }
    .bfr-news {
        margin: 28px 0 0 5px;
    }
    .bfr-news h6 {
        font-size: 16px;
    }
    .bfr-news h1 {
        font-size: 1.7rem;
    }
    .full-news div {
        width: 500px;
        height: 250px;
    }
    .full-news div p {
        font-size: 13px;
    }
    .full-news .full-news-txt {
        width: 75%;
    }
    .rel-diff {
        display: flex;
        flex-direction: column;
    }
    .secret-questions .lbl {
        margin-bottom: 0;
        width: 30%;
    }
    .secret-questions .ques {
        font-size: 1.2rem;
        width: 30%;
    }
    .secret-questions .ques::placeholder {
        font-size: 1.2rem;
    }
    button {
        width: 115px;
        height: 55px;
    }
    .hid-bigy {
        display: none;
    }
    .special-header {
        border: none;
    }
    .special-h1 {
        border: none;
        color: rgba(53, 165, 199, 0.89);
        text-align: center;
    }
    .special-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 20%;
        margin-bottom: 30px;
    }
    .special-header .logo {
        margin-top: 0;
    }
    .special-header .name {
        margin-top: 17px;
    }
    .hid-mob {
        display: flex;
        padding-right: 10px;
        justify-content: space-between;
        flex-direction: row;
        margin-top: -58px;
        background-color: var(--overlay-color);
    }
    .hid-mob a {
        padding-bottom: 20px;
        background-color: transparent;
        border: none;
    }
    .hid-mob .sugg {
        background-color: transparent;
    }
    #headline-insert {
        width: 30%;
    }
    label[for="img-upload"] {
        padding-left: 30px;
        padding-top: 15px;
        height: 50px;
        width: 170px;
    }
    #inserted-text {
        margin-right: 120px;
        width: 101%;
    }
    #search-box {
        width: 30%;
    }
    #confirmation {
        width: 30%;
    }
}
